---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://raw.githubusercontent.com/rook/rook/v1.7.5/cluster/examples/kubernetes/ceph/crds.yaml
  - https://raw.githubusercontent.com/rook/rook/v1.7.5/cluster/examples/kubernetes/ceph/common.yaml
  - https://raw.githubusercontent.com/rook/rook/v1.7.5/cluster/examples/kubernetes/ceph/operator.yaml


  - https://raw.githubusercontent.com/rook/rook/v1.7.5/cluster/examples/kubernetes/ceph/cluster.yaml
  - https://raw.githubusercontent.com/rook/rook/v1.7.5/cluster/examples/kubernetes/ceph/toolbox.yaml
  - https://raw.githubusercontent.com/rook/rook/v1.7.5/cluster/examples/kubernetes/ceph/csi/rbd/storageclass.yaml

  - resources/filesystem-hdd-warehouse.yaml
  
  - resources/nfs-blockpool.yaml
  - resources/ceph-nfs.yaml

  - resources/dashboard-nodeport.yaml


patches:
  - target:
      kind: CephCluster
      name: rook-ceph
    patch: |-
      - op: add
        path: /spec/network
        value: {provider: host}
  - target:
      kind: CephCluster
      name: rook-ceph
    patch: |-
      - op: add
        path: /spec/storage/
        value: {deviceFilter: nvme1n1}
  - target:
      kind: StorageClass
      name: rook-ceph-block
    patch: |-
      - op: add
        path: /metadata/annotations
        value: {'storageclass.kubernetes.io/is-default-class': 'true'}

  # - target:
  #     kind: CephFilesystem
  #     name: myfs
  #   patch: |-
  #     - op: replace
  #       path: /metadata/name
  #       value: hdd-warehouse
  # - target:
  #     kind: CephFilesystem
  #     name: myfs
  #   patch: |-
  #     - op: add
  #       path: /spec/metadataServer/labels
  #       value: {'app': 'hdd-warehouse-mds'}
  # - target:
  #     kind: CephFilesystem
  #     name: myfs
  #   patch: |-
  #     - op: add
  #       path: /spec/dataPools/0/deviceClass
  #       value: hdd
  # - target:
  #     kind: CephFilesystem
  #     name: myfs
  #   patch: |-
  #     - op: replace
  #       path: /spec/metadataServer/placement/podAntiAffinity/requiredDuringSchedulingIgnoredDuringExecution/0/labelSelector/matchExpressions/0
  #       value: {"operator": "In", "key": "app", "values": ["hdd-warehouse-mds"] } 


  - target:
      kind: CephNFS
      name: my-nfs
    patch: |-
      - op: replace
        path: /metadata/name
        value: nfs
  
  - target:
      kind: CephNFS
      name: my-nfs
    patch: |-
      - op: replace
        path: /spec/rados/pool
        value: nfs-ganesha

