apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://raw.githubusercontent.com/rook/rook/release-1.8/deploy/examples/crds.yaml
  - https://raw.githubusercontent.com/rook/rook/release-1.8/deploy/examples/common.yaml
  - https://raw.githubusercontent.com/rook/rook/release-1.8/deploy/examples/operator.yaml
  - https://raw.githubusercontent.com/rook/rook/release-1.8/deploy/examples/cluster.yaml
  - https://raw.githubusercontent.com/rook/rook/release-1.8/deploy/examples/toolbox.yaml
  - https://raw.githubusercontent.com/rook/rook/master/deploy/examples/csi/rbd/storageclass.yaml



patches:
  - target:
      kind: CephCluster
      name: rook-ceph
    patch: |-
      - op: replace
        path: /spec/network/provider
        value: host
        